@font-face {
    font-family: Montserrat;
    src: local('Montserrat-ExtraBold'), url(../assets/font/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Medium'), url(../assets/font/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Bold'), url(../assets/font/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Regular'), url(../assets/font/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

html , body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


.main-container {
    width: 100%;
    background: #060D23;
    min-height: 100vh;
}

.inner-container-trade {
    width: 100%;
    height: 800px;
}

.rating-container-trade {
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 4px 75px #000000);
}

.rating-stars-trade {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: #060D23 url("../assets/image/trade-main-background.svg") no-repeat;
    background-position: 50px 680px !important;
    -webkit-clip-path: url(#svgStars);
    clip-path: url(#svgStars);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90.3%, 0% 100%, 0% 90.3%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90.3%, 0% 100%, 0% 90.3%);
}

.img-back {
    position: absolute;
    mix-blend-mode: overlay;
    z-index: 1;
    display: flex;
    flex-direction: column;
}


.reward-footer {
    height: 650px;
    background: #060D23 url("../assets/image/reward-triangle.svg") top left no-repeat;
    background-blend-mode: overlay;
    margin-top: -357px;
    display: flex;
    justify-content: center;
}

.footer-trade {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 90%;
    margin-top: -30px;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo-img {
    width: 74px;
    height: 56px;
}

.logo-words {
    display: flex;
    margin-top: 17px;
    margin-left: 10px;
}

.logo-footer {
    width: 90%;
    display: flex;
}

.footer-txt-down {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #8B91A6;
    margin-left: 44px;
    margin-top: 18px;
}

.header-first-word {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: white;
}

.header-second-word {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: #9AFF07;
}

.container-all-reward {
    width: 100%;
    display: flex;
    justify-content: center;
}


.inner-container {
    z-index: 2;
    width: 90%;
    display: flex;
}

.first-con-desc {
    display: flex;
    flex-direction: column;
}

.back-to-profile {
    display: flex;
    margin-top: 100px;
    cursor: pointer;
}

.btn-profile-txt {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #9AFF07;
    margin-left: 20px;
}

.super-user-txt {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: white;
    cursor: default;
    text-align: left;
    margin-top: 24px;
}

.claim-your-reward-header {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    cursor: default;
    text-align: left;
    color: #9AFF07;
    margin-top: 40px;
}

.your-reward-value {
    display: flex;
}

.your-reward-value-txt {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    cursor: default;
    color: white;
    text-align: left;
}

.your-reward-value-txt-number {
    margin-left: 8px;
    display: flex;
}

.your-reward-value-img {
    margin-top: -6px;
}

.one-sentence-con {
    display: flex;
    margin-top: 40px;
}

.one-sentence {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    cursor: default;
    text-align: left;
    color: white;
}

.one-sentence-span {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    cursor: default;
    text-align: left;
    color: #9AFF07;
    text-decoration: #9AFF07 underline;
    margin-left: 8px;
}
.one-sentence-flex {
    display: flex;
    margin-left: 8px;
}

.sentence-two {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    cursor: default;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.enter-game-link-con {
    display: flex;
    margin-top: 56px;
}

.input-enter-game-link {
    height: 56px;
    width: 370px;
    border-radius: 4px;
    background: white;
    outline: none;
    border: none;
    padding-left: 10px;
}

.input-enter-game-link::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color:  #0000007A;
}

.input-enter-game-link:-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color:  #0000007A;
}

.input-enter-game-link:-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color:  #0000007A;
}

.input-enter-game-link::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color:  #0000007A;
}

.btn-green-send {
    height: 56px;
    width: 91px;
    border-radius: 4px;
    background: #9AFF07;
    box-shadow: 0 -4px 2px 0 #000000A6 inset;
    margin-left: 8px;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.send-txt {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #060D23;
}

.last-sentence {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #9AFF07;
    cursor: default;
    margin-top: 16px;
    text-align: left;

}

.second-con-desc {
    display: flex;
    flex-direction: column;
}

.header-txt-second-desc {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: white;
    text-align: left;
    cursor: default;
    margin-left: 132px;
    margin-top: 232px;
}

.youtube {
    margin-left: 132px;
    margin-top: 15px;
}

.congrats {
    font-family: Montserrat, sans-serif;
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
    color: white;
    text-align: left;
    cursor: default;
    margin-top: 50px;
}

.congrats-desc {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    cursor: default;
    text-align: left;
    color: white;
    margin-top: 32px;
}

@media only screen and (max-width: 1095px) {

    .rating-stars-trade {
        background: #060D23 none;
    }

    .second-image {
        display: none;
    }

    .logo {
        margin-top: 50px;
    }

    .logo-footer {
        flex-direction: column;
    }

    .footer-txt-down {
        margin-left: 0;
    }

    .inner-container-trade {
        height: 1484px;
    }

    .inner-container {
        flex-direction: column;
    }

    .header-txt-second-desc {
        margin-left: 0;
        margin-top: 20px;
    }

    .youtube {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .reward-footer {

        background: #060D23 url("../assets/image/reward-mobile-back.svg") bottom right no-repeat;
        background-blend-mode: normal;

    }
}

@media only screen and (max-width: 750px) {
    .inner-container-trade {
        height: 1324px;
    }
}


@media only screen and (max-width: 640px) {
    .img-back {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 550px) {
    .input-enter-game-link {
        width: 228px;
    }

    .btn-green-send {
        width: 241px;
        margin-left: 0;
        margin-top: 5px;
    }

    .enter-game-link-con {
        flex-direction: column;
    }
}

@media only screen and (max-width: 445px) {
    .your-reward-value {
        flex-direction: column;
    }

    .one-sentence-con {
        flex-direction: column;
    }
}





