@font-face {
    font-family: Montserrat;
    src: local('Montserrat-ExtraBold'), url(../assets/font/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Medium'), url(../assets/font/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Bold'), url(../assets/font/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Regular'), url(../assets/font/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}


.main-container {
    width: 100%;
    background: #060D23 url("../assets/image/mobile-background.svg") top left no-repeat;
    min-height: 100vh;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.inner-container {
    width: 90%;
}


.nav-bar-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo-img {
    width: 74px;
    height: 56px;
}

.header-first-word {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: white;
}

.header-second-word {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    color: #9AFF07;
}

.logo-words {
    display: flex;
    margin-top: 17px;
    margin-left: 10px;
}

.left-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.nav-text {
    margin-left: 24px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    color: white;
}

.profile-btn {
    background: #060D23;
    margin-top: 16px;
    border: 2px solid #9AFF07;
    height: 52px;
    width: 133px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.profile-btn-txt {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #9AFF07;
}


.menu-bar {
    display: none;
    width: 54px;
    height: 36px;
}

.txt-container-privacy {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.privacy-header {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;
    color: white;
    cursor: default;
    margin-top: 78px;
}

.first-desc-privacy {
    min-height: 200px;
    max-width: 845px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    text-align: left;
    color: #ACACAC;
    margin-top: 32px;
}

.what-info-header {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 20px;
    cursor: default;
    text-align: left;
    color: white;
    margin-top: 40px;

}

.what-info-desc {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    text-align: left;
    color: #ACACAC;
    margin-top: 16px;
}

.anonymous-header {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    cursor: default;
    text-align: left;
    margin-top: 32px;
    color: white;
}

.anonymous-desc {
    min-height: 300px;
    max-width: 845px;
    margin-top: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    text-align: left;
    color: #ACACAC;
}

.anonymous-desc-margin {
    margin-left: 100px;
}

.personal-header {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    cursor: default;
    text-align: left;
    margin-top: 24px;
    color: white;
}

.personal-desc {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    color:#ACACAC;
    text-align: left;
    margin-top: 16px;
}

.mobile-i {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    cursor: default;
    color: white;
    text-align: left;
    margin-top: 32px;
}

.mobile-i-desc {
    min-height: 180px;
    max-width: 845px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    text-align: left;
    color: #ACACAC;
    margin-top: 16px;

}

.purpose-info-header {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    cursor: default;
    text-align: left;
    margin-top: 32px;
}

.purpose-info-desc {
    min-height: 200px;
    max-width: 845px;
    margin-top: 16px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ACACAC;
    cursor: default;
    text-align: left;

}

.how-we-collect-header {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    cursor: default;
    text-align: left;
    margin-top: 43px;
}

.my-ol {
    list-style-type: decimall;
}
ol {
    padding-left: 20px;
}

.header-list {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    cursor: default;
    color: white;
    text-align: left;

}

.desc-list {
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    color: #ACACAC;
    text-align: left;
    max-width: 845px;
}

.desc-if {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    color: #ACACAC;
    text-align: left;
    max-width: 845px;
    margin-top: 32px;
}

.with-whom-header {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: white;
    cursor: default;
    text-align: left;
    margin-top: 32px;
}

.with-whom-desc{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: default;
    color: #ACACAC;
    text-align: left;
    margin-top: 16px;
    max-width: 845px;

}

.footer-trade {
    display: flex;
    margin-top: 90px;
    background: #060D23 url("../assets/image/reward-mobile-back.svg") bottom right no-repeat;
    height: auto;
    justify-content: center;
    background-size: contain;

}

.justify-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-footer {
    display: flex;
    width: 90%;
    margin-bottom: 100px;
}

.footer-txt-down {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    color: #8B91A6;
    margin-left: 44px;
    margin-top: 18px;
    cursor: default;
}

.nav-text.green {
    color: #9AFF07;
}


@media only screen and (max-width: 1024px) {
    .logo-footer {
        flex-direction: column;
    }
    .footer-txt-down {
        margin-left: 0;
    }

    .anonymous-desc-margin {
        margin-left: 0;
    }

    .nav-text {
        display: none;
    }

    .left-nav-container {
        flex-direction: column;
        align-items: flex-start;
    }


    .logo {
        margin-top: 50px;
    }

    .menu-bar {
        display: block;
        margin-top: 26px;
    }

}

@media only screen and (max-width: 650px) {

    .main-container {
        background: #060D23 url("../assets/image/mobile-background.svg") top center no-repeat;
    }

}


